<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUEJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <input v-model="message">
        <p>{{ message }}</p>
        <p v-if="seen">Bạn thấy dòng này</p>
        <ul>
            <li v-for="item in list" :key="item">{{ item }}</li>
        </ul>
        <button @click="sayHi">Say Hi</button>
    </div>
    <script>
        const { createApp } = Vue ;
        createApp(
            {
                data(){
                    return {
                        message : "Hello Vue !",
                        seen : true,
                        list : ['Trang','Trường']
                    }
                },
                methods : {
                    sayHi(){
                        alert('Hello')
                    }
                }
            }
        ).mount('#app');
    </script>
</body>
</html>