<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div class="container">
        <div id="app">
            <h1>List students</h1>
            <a href="create-student.html" class="btn btn-success">Create</a>
            <div class="mt-4">
                <label for="">Filter</label>
                <select name="" id="" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="selectSex">
                    <option value="">--All--</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Score</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr v-for="(std,index) in filterStudent" :key="std.id">
                        <td>{{index}}</td>
                        <td>{{std.name}}</td>
                        <td>{{std.sex==0 || std.sex==false ? 'Male' : 'Female'}}</td>
                        <td>{{std.score}}</td>
                        <td>
                            <button class="btn btn-danger" @click="deleteStudent(std.id)">Delete</button>
                            <a :href="`update-student.html?id=${std.id}`" class="btn btn-warning">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const {createApp}=Vue;
        createApp(
            {
                data(){
                    return {
                        apiUrl:'https://68074a84e81df7060eb99052.mockapi.io/student/student',
                        students : [],
                        student : {
                            name : '',
                            sex : '',
                            score : '',
                            id : null
                        },
                        selectSex:'' 
                    }
                },
                computed :{
                    filterStudent(){
                        if(this.selectSex===''){
                            return this.students
                        }else{
                            return this.students.filter(std => String(std.sex)==this.selectSex)
                        }
                    }
                },
                mounted(){
                    this.fetchStudents();
                },
                methods:{
                    async fetchStudents(){
                        const res = await fetch('https://68074a84e81df7060eb99052.mockapi.io/student/student');
                        this.students = await res.json();
                    },
                    async deleteStudent(id){
                        if(confirm('Are you sure delete ?')){
                            await fetch(`${this.apiUrl}/${id}`,{
                                method:'DELETE'
                            });
                            this.fetchStudents();
                            alert('Delete successfull !');
                        }
                    }
                }
            }
        ).mount('#app');
    </script>
</body>
</html>